<html>
<head>
<title>New Review</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<h1>File Reviewer</h1>

  <br/>
<script>

var newFileDiv = $('<div/>', {
	'class': 'file'
});

$('<h3/>', {
	'text': 'New File to Review'
}).appendTo(newFileDiv); 

$('<input/>', {
	'class': 'form-control fileName panel-primary',
	'placeholder': 'File Name'
}).appendTo(newFileDiv);

$('<textarea/>', {
	'class': 'form-control fileContent panel-primary',
	'cols': 40,
	'rows': 5,
	'placeholder': 'File Contents'
}).appendTo(newFileDiv);

$('<textarea/>', {
	'class': 'form-control fileDiff panel-primary',
	'cols': 40,
	'rows': 5,
	'placeholder': 'File Diff'
}).appendTo(newFileDiv);

$('<textarea/>', {
	'class': 'form-control fileComment panel-primary',
	'cols': 40,
	'rows': 5,
	'placeholder': 'Review Comment'
}).appendTo(newFileDiv);

function addNewFile() {
	newFileDiv.clone().appendTo($('#fileList'));
};

$(document).ready(function() {
	addNewFile();
	
	$('#addFileBtn').click(function() {
		addNewFile();
	});
	
	$('#submitBtn').click(function() {
		var payload = [];
		
		$('.file').each(function(index, element) {
			payload.push({
				'fileName': $(this).children('.fileName').val(),
				'fileContent': $(this).children('.fileContent').val(),
				'fileDiff': $(this).children('.fileDiff').val(),
				'fileComment': $(this).children('.fileComment').val()
			});
		});
		
		$.ajax({
			type: 'POST',
			url: '/review',
			data: JSON.stringify(payload),
			contentType: 'application/json',
			success: function(d) {
				window.location.href = "/review/" + d;
			}
		});
	});
});

</script>

	<div id="fileList"></div>
	<div>
		<button type="button" class="btn btn-primary" id="submitBtn">
    Submit Your File(s)
  </button>
	</div>
		<button type="button" class="btn btn-info" id="addFileBtn">
    Add Additional File(s)
  </button>

</body>
</html>
