<html>
<head>
<title>New Review</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="page-header">
		<h1>
			codereviewer <small>review code without leaving your chair</small>
		</h1>
	</div>

	<script>
var fileCounter = 1;
var counts = 1;

var newFileDiv = $('<div/>', {
	'class': 'file col-md-8 col-md-offset-2'
});

function counter(){
var listItem = document.getElementsByTagName( "h3" );
var amount = listItem.length;
$( "h3" ).eq(amount-1).text(amount);

}
$('<h3/>', {
	'text': fileCounter
}).appendTo(newFileDiv); 

$('<input/>', {
	'class': 'form-control fileName panel-primary',
	'placeholder': 'File Name'
}).appendTo(newFileDiv);

$('<textarea/>', {
	'class': 'form-control fileContent panel-primary',
	'cols': 40,
	'rows': 5,
	'placeholder': 'File Contents',
	'id': 'fileContent'
}).appendTo(newFileDiv);

$('<textarea/>', {
	'class': 'form-control fileDiff panel-primary',
	'cols': 40,
	'rows': 5,
	'placeholder': 'File Diff'
}).appendTo(newFileDiv);

$('<textarea/>', {
	'class': 'form-control fileComment panel-primary',
	'cols': 40,
	'rows': 5,
	'placeholder': 'Review Comment'
}).appendTo(newFileDiv);

$('<input/>', {
	'type': 'file',
	'class': 'form-control fileToUpload',
	'placeholder': 'Upload File',
	'name' : "files[]",
	'id': 'files'
}).appendTo(newFileDiv);

var stringToAppend;

function handleFileSelect(evt) {
    var filesAll = document.getElementsByClassName("file");
    var box = $(evt.target).closest('div').find('.fileContent');

   
    var files = evt.target.files; 

    
    for (var i = 0, f; f = files[i]; i++) {


      var reader = new FileReader();
      

	reader.onload = function(e) {
		stringToAppend = e.target.result;
		var listItem = document.getElementsByTagName( "h3" );
		var amount = listItem.length;
		box.val(stringToAppend);
	};
	reader.readAsText(f);

    };
 };
  

function myFunction(){
$( ".fileToUpload" ).each(function( index ) {
   addEventListener('change', handleFileSelect, false);
});
};

function addNewFile() {
	newFileDiv.clone().appendTo($('#fileList'));
};

$(document).ready(function() {
	addNewFile();
	setTimeout(myFunction,500);
	
	$('#addFileBtn').click(function() {
		addNewFile();
		counter();
		setTimeout(myFunction,500);
	});
	
	$('#submitBtn').click(function() {
		var payload = [];
		
		$('.file').each(function(index, element) {
			payload.push({
				'fileName': $(this).children('.fileName').val(),
				'fileContent': $(this).children('.fileContent').val(),
				'fileDiff': $(this).children('.fileDiff').val(),
				'fileComment': $(this).children('.fileComment').val()
			});
		});
		
		$.ajax({
			type: 'POST',
			url: '/review',
			data: JSON.stringify(payload),
			contentType: 'application/json',
			success: function(d) {
				window.location.href = "/review/" + d;
			}
		});
	});
});

</script>

	<div id="fileList"></div>
	<div class="col-md-8 col-md-offset-2">
		<button type="button" class="btn btn-info" id="addFileBtn">
			Add Additional File(s)</button>
		<button type="button" class="btn btn-primary" id="submitBtn">
			Submit Your File(s)</button>
	</div>


</body>

</html>
