<html>
<head>
<title>New Review</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
@media (min-width: 1200px) {
	.container {
 		width: 760px;
	}
}
</style>
</head>

<body>
	<div class="page-header">
		<h1>codereviewer <small>review code without leaving your chair</small></h1>
	</div>
	
	<script>
	var buttons;
	var fileCounter = 1;
	
	function addNewFile() {
		var newFile = $(".file").first().clone();
		newFile.find(".fileName").val("");
		newFile.find(".fileContent").val("");
		newFile.find(".fileDiff").val("");
		newFile.find(".fileComment").val("");
		newFile.insertBefore(buttons);
	};
	
	function counter(){
		var listItem = document.getElementsByTagName( "h3" );
		var amount = listItem.length;
		$( "h3" ).eq(amount-1).text(amount);
	};
	
	$(document).ready(function() {
		buttons = $('#buttons');
		counter();
		
		$('#addFileBtn').click(function() {
			addNewFile();
			counter();
		});
		
		$('#submitBtn').click(function() {
			var payload = [];
			
			$('.file').each(function(index, element) {
				payload.push({
					'fileName': $(this).find('.fileName').val(),
					'fileContent': $(this).find('.fileContent').val(),
					'fileDiff': $(this).find('.fileDiff').val(),
					'fileComment': $(this).find('.fileComment').val()
				});
			});
			
			$.ajax({
				type: 'POST',
				url: '/review',
				data: JSON.stringify(payload),
				contentType: 'application/json',
				success: function(d) {
					window.location.href = "/review/" + d;
				}
			});
		});
	});
	
	</script>
	<div id="fileList" class="container">
		<div th:if="${files != null}" th:each="file : ${files}" class="file row">
			<h3>New File to Review</h3>
			<div class="form-group">
				<label class = "label label-primary">File Name</label>
				<input class="form-control panel-primary fileName" placeholder="File Name" th:value="${file.fileName}"/>
			</div>
			<div class="form-group">
				<label class = "label label-primary">File Content</label>
				<textarea class="form-control panel-primary fileContent" rows="10" placeholder="File Content" th:text="${file.fileContent}"/>
			</div>
			<div class="form-group">
				<label class = "label label-primary">File Diff</label>
				<textarea class="form-control panel-primary fileDiff" rows="10" placeholder="File Diff" th:text="${file.fileDiff}"/>
			</div>
			<div class="form-group">
				<label class = "label label-primary">Review Comment</label>
				<textarea class="form-control panel-primary fileComment" rows="3" placeholder="Review Comment" th:text="${file.fileComment}"/>
			</div>
		</div>
		<p id="buttons" class="row">
			<button type="button" class="btn btn-info" id="addFileBtn">Add Additional File(s)</button>
			<button type="button" class="btn btn-primary" id="submitBtn">Submit Your File(s)</button>
		</p>
	</div>
</body>
</html>
