<html>
<head>
<title>Review</title>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.css"/>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" />

<style>
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
</style>
</head>
<body>
<div class="page-header">
		<h1>
			codereviewer <small>review code without leaving your chair</small>
		</h1>
	</div>
	<div class = "col-md-offset-1">
	<h2>Files to Review</h2>
	<ul id="index">
		<li th:each="file,stat : ${files}">
			<a class="list-group-item list-group-item-info col-md-8" th:href="'#' + ${stat.index}" th:inline="text">[[${file.fileName}]]</a>
		</li>
	</ul>
	<br/><br />
	<div th:each="file,stat : ${files}">
		<h2 th:inline="text" th:id="${stat.index}">[[${file.fileName}]]</h2>
		<h3 th:if="${not file.fileComment.isEmpty()}">Review Comment</h3>
		<p th:inline="text" th:if="${not file.fileComment.isEmpty()}">[[${file.fileComment}]]</p>
		<h3 th:if="${not file.fileContent.isEmpty()}">File Content</h3>
		<pre class="prettyprint linenums" th:inline="text" th:if="${not file.fileContent.isEmpty()}">[[${file.fileContent}]]</pre>
		<h3 th:if="${not file.fileDiff.isEmpty()}">file diff</h3>
		<pre class="prettyprint" th:inline="text" th:if="${not file.fileDiff.isEmpty()}">[[${file.fileDiff}]]</pre>
		<a href="#index">back to index</a>
	</div>
	</div>
</body>
</html>